<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {# Usamos app.request.basepath para forzar la ruta /libro/public #}
            {#<link href="{{ app.request.basepath }}/css/estilo.css" rel="stylesheet" />#}
            {# Forma de poner css con asset #}
            <link href="{{ asset('css/estilo.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {# Comentamos el importmap si no usas la carpeta assets para evitar errores 404 #}
            {# {{ importmap('app') }} #}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
