{% extends 'base.html.twig' %}

{% block title %}Hello Usuario2Controller!{% endblock %}

{% block body %}
    <h1>Ficha del usuario</h1>
    {% if usuario%}
        {{ include('datos_usuario.html.twig',{'usuario':usuario}) }}
    {% else %}
    <p>No hay usuario</p>
    {% endif %}

{% endblock %}
