@import url(variables.css);

/* ============================= */
/* HOME */
/* ============================= */
.home {
    display: flex;              /* Centrar contenido */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;           /* Ocupa casi toda la pantalla */
}

.home h2 {
    font-size: 2.5rem;          /* Tamaño principal */
    margin-bottom: 10px;        /* Separación inferior */
}

.home h2 span {
    color: var(--color-primary); /* Color destacado */
}

.home h3 {
    font-size: 1.5rem;          
    font-weight: 400;           
    color: var(--color-text-secondary);
    margin-bottom: 20px;
}

.home p {
    font-size: 1.1rem;          
    line-height: 1.8;           
    max-width: 700px;           
    margin: 0 auto 40px;        /* Centrado + separación inferior */
    color: var(--color-text-light);
}

.btn {
    background-color: var(--color-primary);  /* Fondo botón */
    color: var(--color-text-secondary);          /* Texto claro */
    padding: 12px 28px;                       /* Espaciado interno */
    border-radius: var(--radius);                       /* Bordes redondeados */
    font-weight: bold;
    text-decoration: none;
    transition: background-color var(--transition); /* Animación hover */
}

.btn:hover { 
    background-color: var(--color-primary-dark); /* Hover oscuro */
}
